<div class="right-side-container" [ngSwitch]="currentStep">
  <app-first-step
    *ngSwitchCase="1"
    [currentStep]="currentStep"
    (nextStep)="goToNextStep()"
  ></app-first-step>

  <app-second-step
    *ngSwitchCase="2"
    [currentStep]="currentStep"
    (priceSelected)="getExactPrice($event)"
    (prevStep)="goToPreviousStep()"
    (nextStep)="goToNextStep()"
  ></app-second-step>

  <app-third-step
    *ngSwitchCase="3"
    [currentStep]="currentStep"
    (addOnSelected)="selectSwitchPrice($event)"
    (prevStep)="goToPreviousStep()"
    (nextStep)="goToNextStep()"
  ></app-third-step>

  <app-final-step
    *ngSwitchCase="4"
    [pricesAndNames]="pricesAndNames"
    [currentStep]="currentStep"
    [totalPrice]="getTotalPrice()"
    (prevStep)="goToPreviousStep()"
    (nextStep)="goToNextStep()"
  ></app-final-step>
</div>
