<nav class="route-link-nav-parent">
  <a class="route-link" routerLink="forms" routerLinkActive="active-route"
    >Forms</a
  >
  <a class="route-link" routerLink="simple" routerLinkActive="active-route"
    >Timer</a
  >
  <a class="route-link" routerLink="advices" routerLinkActive="active-route"
    >Advices</a
  >
  <a class="route-link" routerLink="dictionary" routerLinkActive="active-route"
    >Dictionary</a
  >
  <a class="route-link" routerLink="todo" routerLinkActive="active-route"
    >To Do</a
  >
</nav>
<router-outlet></router-outlet>
